@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#test{
    font-family: 'Caveat', cursive;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*[診断画面共通]*/
.question-container button,
.result-container button,
.confirm-container button{
    border-radius: 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.hide {
    display: none;
}

/*診断結果を見るボタンと購入ボタンで使用*/
.pink-btn {
    background-color: rgb(254,135,185);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

/*[質問画面]*/

/*各回答*/
.answer-btn {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.8s ease, transform 0.8s ease; /* アニメーションの設定 */
    border: 2px solid white;
}

.answer-btn:hover {
    background-color: rgb(191,158,116);
    color: white;
    border: 2px solid white;
}

/*戻るボタン*/
#back_btn{
    border-radius: 50%;
}

#back_btn:hover{
    background-color: white;
    color: rgb(191,158,116);
}

/*質問横のimg*/
.question-img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 1.5rem; /* 3xlに相当する大きさ */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .question-img {
        height: 300px;
        width: 300px;
    }
}

.content {
    position: relative;
}

.content::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.content .back,
.content .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 2s;
    backface-visibility: hidden;
}

.content .front {
    transform: rotateY(180deg);
}

.back.flip {
    transform: rotateY(-180deg);
}
.front.flip {
    transform: rotateY(0deg);
}

#question_answers_container {
    max-height: calc(100% - 100px); /* 質問文の高さやマージンに応じて調整 */
}

/*[確認画面]*/

/*各質問・回答セット*/
.confirm-answers-container{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

/*各質問番号*/
.confirm-question-num{
    background-color: white;
    color:rgb(191,158,116);
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

/*各回答（span)*/
.confirm-answer{
    width:300px;
    background-color:white; /* 背景色を適宜指定 */
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    padding: 6px 10px;
    margin-top: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
}

.confirm-answer:hover {
    background-color: rgb(191,158,116);
    color: white;
    border: 2px solid white;
}

/** デスクトップサイズ以上 *!*/
@media (min-width: 1024px) {
    .confirm-answer {
        width: 450px;
    }
}

/*!*▶アイコン*!*/
/*.confirm-answer p{*/
/*    color:rgb(191,158,116);*/
/*    font-size: 10px;*/
/*    margin-right: 5px;*/
/*}*/

/*[結果画面]*/

/*初めからやり直すボタン*/
.back-start-btn {
    background-color:white;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

.big-ball{
    position: relative;
    transform: translateX(-15em) translateY(-5em);
    z-index: 1;
}

@media (max-width: 767px) {
    .big-ball {
        transform: translateX(-10em) translateY(-10em);
    }
}

.result-img{
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
    transform: translateX(27em) translateY(8em);
}

@media (max-width: 767px) {
    .result-img {
        transform: translateX(13em) translateY(13em);
    }
}

.link-display {
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.link-btn {
    background-color: #f2a1a6;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 200px;
    @media (max-width: 767px) {
        margin: 0.75rem 0 0.75rem 0;
    }
}

.check-btn {
    background-color: #f2a1a6;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

.check-back-btn {
    background-color: #ffffff;
    color: #888888;
    cursor: pointer;
    border: 1px solid #777777;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 200px;
}
.check-back-btn:hover {
    background-color: #444444;
    color: white;
}



/*その他画像親div*/
.other-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.transition {
    transition: transform 1s ease-in-out;
}

.transition-quick {
    transition: transform 0.1s ease-in-out;
}
 /*上から降りてくるアニメーションの定義*/
.hidden-element-slide-down {
    animation: slide-down 1.0s ease-in-out forwards;
}

@keyframes slide-down {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




/*----------[管理画面]----------*/

/*[管理画面 All・タイトル]*/
.dash_h2 {
    padding-bottom: 20px;
    font-size: 26px;
}


/*[管理画面 All・登録ボタン]*/
.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.btn-border:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 5px;
    height: 100%;

    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;

    background: #000;
}

.btn-border:hover {
    color: #fff;
    background: #000;
}

.btn-border:hover:before {
    background: #fff;
}

/*[管理画面 All・質問アコーディオンメニュー]*/
.editBtn {
    cursor: pointer;
}

.qa__body {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.6s ease; /* 高さと透明度の変化をアニメーション化 */
}

.qa__body.visible {
    max-height: 1000px; /* 表示されるときの最大の高さ */
    opacity: 1;
    padding: 20px;
    line-height: 1.5;
}

/*[管理画面 質問登録・新規回答入力用input]*/
.new-answer{
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(156 163 175);
    border-radius: 0.375rem;
}

/*[管理画面 商品登録・Quill]*/
.editor p{
    margin-bottom: 1em;
}

/*Quillのtoolbarを上に固定*/
.ql-toolbar {
    background-color: #ece9e9; /* お好みの背景色に変更 */
    position: -webkit-sticky; /* Safari対応 */
    position: sticky;
    top: 0;
    z-index: 10; /* 他の要素の上に表示させるために必要 */
}

/* Quillのリンク入力ポップアップの位置を調整する */
.ql-tooltip {
    left: 50px !important; /* 必要に応じて調整 */
}

/*[管理画面 質問登録・sortable.js]*/
#my_container{
    width: 100%; height: 100%;
    display: flex; flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

#my_container div{
    margin: 0px; padding: 10px 30px;
    border-radius: 20px;
    background-color: gray; color: white;
    font-size: 2rem; text-align: center;
}

/*価格帯の追加ページ-レスポンシブ用*/
.new-course {
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

/*質問/属性付与*/
.l-wrapper_06:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 34px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transition: all .5s;
}

/*interact.js*/
.dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.3s;
}

.show-border {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

/*各ドラッグアイテム*/
.drag-drop {
    position: absolute;
    z-index: 30;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.overflow-true{
    overflow-y: scroll;
}

.overflow-false{
    overflow-y: hidden;
}

/*要素一覧の内、ドラッグできないもの*/
.unselectable {
    opacity: 0.3; /* 半透明にする */
    cursor: not-allowed; /* カーソルを禁止マークに */
}

/*dropzoneの各要素の削除ボタン*/
.close-button {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #f00;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/*dropzoneのカテゴリーに付与*/
.addedCategory{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.qa__body .select-btn {
    border: 2px solid #000;
    background: #fff;
}

.qa__body .select-btn:hover {
    color: #fff;
    background: #000;
}
/*interact.js終了*/



