@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}

#test{
    font-family: 'Caveat', cursive;
}


#top_text{
    font-family: 'Amatic SC', cursive;
}

* {
    font-family: 'Noto Sans JP' ,sans-serif;
    margin: 0;
    padding: 0;
}

/*[Loading]*/
.loading-test{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.loading-circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left:15%;
    transform-origin: 50%;
    animation: loading-circle .5s alternate infinite ease;
}

@keyframes loading-circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0;
    }
}
.loading-circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.loading-circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.loading-shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: loading-shadow .5s alternate infinite ease;
}

@keyframes loading-shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.loading-shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.loading-shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
#loading_text{
    letter-spacing: 12px;
    color: #fff;
    font-size: 20px;

    @media(max-width: 767px) {
        font-size: 15px;
    }
}




/*TOP*/
#index-wrapper {
    @media(max-width: 767px) {
        max-height: calc(100dvh - 85px - 2rem);
    }
}

/*[診断画面共通]*/
.question-container button,
.result-container button,
.confirm-container button{
    border-radius: 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.hide {
    display: none;
}

/*診断結果を見るボタンと購入ボタンで使用*/
.pink-btn {
    background-color: rgb(254,135,185);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

/*[質問画面]*/

/*各回答*/
.answer-btn {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    transition: opacity 0.8s ease, transform 0.8s ease; /* アニメーションの設定 */
    border: 2px solid white;
}

.answer-btn:hover {
    background-color: rgb(191,158,116);
    color: white;
    border: 2px solid white;
}

@media (max-width: 767px) {
    #question_answers_container .answer-btn {
        width: 90%;
        font-size: 12px;
        border: 1px solid white;
    }

    .answer-btn:hover {
        background-color: rgb(191,158,116);
        color: white;
        border: 1px solid white;
    }

}

/*戻るボタン*/
#back_btn{
    border-radius: 50%;
}

#back_btn:hover{
    background-color: rgb(191,158,116);
    color: white;
}

/*質問横のimg*/
.question-img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 1.5rem; /* 3xlに相当する大きさ */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .question-img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }
}

.content {
    position: relative;
}

.content::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.content .back,
.content .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 2s;
    backface-visibility: hidden;
}

/*初期値で後ろに移動しており、flipクラスがつくと0まで戻り表示される*/
.content .front {
    transform: rotateY(180deg);
}

/*元々表示されていたがflipクラスがつくと後ろに移動し非表示へ*/
.back.flip {
    transform: rotateY(-180deg);
}
.front.flip {
    transform: rotateY(0deg);
}

#question_answers_container {
    max-height: calc(100% - 100px); /* 質問文の高さやマージンに応じて調整 */
}

/*[確認画面]*/

.no-scroll {
    overflow: hidden;
}

.confirm-container.visible {
    opacity: 1;
}

/*各質問・回答セット*/
.confirm-answers-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    width: 90%;
}

/*各回答（span)*/
.confirm-answer{
    width:90%;
    color: black;
    background-color:white; /* 背景色を適宜指定 */
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
}

.confirm-answer:hover {
    background-color: rgb(191,158,116);
    color: white;
    border: 2px solid white;
}

@media (max-width: 767px) {
    #confirm_box .confirm-answer {
        width: 90%;
        font-size: 12px;
        border: 1px solid white;
    }

    .confirm-answer:hover {
        background-color: rgb(191,158,116);
        color: white;
        border: 1px solid white;
    }
}

.confirm-question{
    width: 90%;
    text-align: center;
}

/*[画面遷移]*/
.curtain {
    background: rgb(191,158,116);
    z-index: 25;
    @media (min-width: 768px) {
        transition: width 1s ease;
    }
    @media (max-width: 767px) {
        transition: height 1s ease;
    }
}
/* 画面のフェードイン */
.curtain-fade-in {
    opacity: 0;
    transition: opacity 1s ease;
}

.curtain-show {
    opacity: 1;
    transition: opacity 1s ease;
}

/*[結果画面]*/

/*Quill背景色*/
.quill-bg{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid rgba(255, 255, 255, 0.2);
}

/*ナビゲーションバー*/
.non-active {
    left: -310px;
}

.nav-text {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}



.otherImg {
    width: 110px;
    height: 110px;
    @media (min-width: 768px) {
        width: 130px;
        height: 130px;
    }
}

/*[scroll]*/
/* スクロールダウンの位置 */
#quill-scroll {
    position: relative;
    text-align: center;
}
/* 矢印のアニメーション部分 */
#quill-scroll::before {
    animation: scroll 2s infinite;
    border-bottom: 1px solid rgba(100, 100, 100, 0.8);
    border-left: 1px solid rgba(100, 100, 100, 0.8);
    content: "";
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
/* 矢印のアニメーション */
@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(-45deg) translate(0, 0);
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    100% {
        opacity: 0;
    }
}

/*初めからやり直すボタン*/
.back-start-btn {
    background-color:white;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

.link-display {
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.link-btn {
    background-color: #f2a1a6;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    width: 200px;
    @media (max-width: 767px) {
        margin: 0.75rem 0 0.75rem 0;
    }
}

.check-btn {
    background-color: #f2a1a6;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

.check-back-btn {
    background-color: #ffffff;
    color: #888888;
    cursor: pointer;
    border: 1px solid #777777;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 200px;
}
.check-back-btn:hover {
    background-color: #444444;
    color: white;
}



/*その他画像親div*/
.other-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.transition {
    transition: transform 1s ease-in-out;
}

.transition-quick {
    transition: transform 0.1s ease-in-out;
}
 /*上から降りてくるアニメーションの定義*/
.hidden-element-slide-down {
    animation: slide-down 1.0s ease-in-out forwards;
}

@keyframes slide-down {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




/*----------[管理画面]----------*/

/*[管理画面 All・タイトル]*/
.dash_h2 {
    padding-bottom: 20px;
    font-size: 26px;
}


/*[管理画面 All・登録ボタン]*/
.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.btn-border:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 5px;
    height: 100%;

    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;

    background: #000;
}

.btn-border:hover {
    color: #fff;
    background: #000;
}

.btn-border:hover:before {
    background: #fff;
}

/*[管理画面 All・質問アコーディオンメニュー]*/
.editBtn {
    cursor: pointer;
}

.qa__body {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.6s ease; /* 高さと透明度の変化をアニメーション化 */
}

.qa__body.visible {
    max-height: 1000px; /* 表示されるときの最大の高さ */
    opacity: 1;
    padding: 20px;
    line-height: 1.5;
}

/*[管理画面 質問登録・新規回答入力用input]*/
.new-answer{
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(156 163 175);
    border-radius: 0.375rem;
}

/*[管理画面 商品登録・Quill]*/
.editor p{
    margin-bottom: 1em;
}

/*Quillのtoolbarを上に固定*/
.ql-toolbar {
    background-color: #ece9e9; /* お好みの背景色に変更 */
    position: -webkit-sticky; /* Safari対応 */
    position: sticky;
    top: 0;
    z-index: 10; /* 他の要素の上に表示させるために必要 */
}

/* Quillのリンク入力ポップアップの位置を調整する */
.ql-tooltip {
    left: 50px !important; /* 必要に応じて調整 */
}

/*[管理画面 質問登録・sortable.js]*/
#my_container{
    width: 100%; height: 100%;
    display: flex; flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

#my_container div{
    margin: 0; padding: 10px 30px;
    border-radius: 20px;
    background-color: gray; color: white;
    font-size: 2rem; text-align: center;
}

/*価格帯の追加ページ-レスポンシブ用*/
.new-course {
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

/*質問/属性付与*/
.l-wrapper_06:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 34px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transition: all .5s;
}

/*interact.js*/
.dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.3s;
}

.show-border {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

/*各ドラッグアイテム*/
.drag-drop {
    position: absolute;
    z-index: 30;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.overflow-true{
    overflow-y: scroll;
}

.overflow-false{
    overflow-y: hidden;
}

/*要素一覧の内、ドラッグできないもの*/
.unselectable {
    opacity: 0.3; /* 半透明にする */
    cursor: not-allowed; /* カーソルを禁止マークに */
}

/*dropzoneの各要素の削除ボタン*/
.close-button {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #f00;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/*dropzoneのカテゴリーに付与*/
.addedCategory{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.qa__body .select-btn {
    border: 2px solid #000;
    background: #fff;
}

.qa__body .select-btn:hover {
    color: #fff;
    background: #000;
}
/*interact.js終了*/

/*[nav]*/
#toggleShow {
    line-height: 2rem;
    height: 100%;
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: ripple 1.5s infinite;
}

@keyframes ripple {
    0% {box-shadow: 0 0 0 0 rgb(254,135,185);}
    70% {box-shadow: 0 0 0 20px rgb(254 135 185 / 0%);}
    100% {box-shadow: 0 0 0 0 rgb(254 135 185 / 0%);}
}
