@import "bootstrap-icons/font/bootstrap-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*-------------------------------------[診断画面共通]-------------------------------------------*/

.confirm-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.question-container button,
.result-container button,
.confirm-container button{
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}


.hide {
    display: none;
}

/*診断結果を見るボタンと購入ボタンで使用*/
.pink-btn {
    background-color: rgb(254,135,185);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 250px;
}
/*-------------------------------------[質問画面]-------------------------------------------*/
/*各選択肢（button)*/
.answer-btn{
    width: 100%;
    background-color:rgb(191,158,116); /* 背景色を適宜指定 */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.answer-btn span{
   font-size: 14px;
}

/** デスクトップサイズ以上 *!*/
@media (min-width: 1024px) {
    .answer-btn span {
        font-size: 16px;
    }
}

/*各回答番号(span)*/
.answer-num-white {
    display: inline-flex; /* flexコンテナとして表示 */
    justify-content: center; /* 横方向に中央揃え */
    align-items: center; /* 縦方向に中央揃え */
    width: 20px; /* サイズを適宜調整 */
    height: 20px; /* サイズを適宜調整 */
    border-radius: 50%; /* 丸くする */
    margin-right: 10px;
    font-size: 14px;
    background-color: white;
    color: rgb(191,158,116);
}

/* デスクトップサイズ以上 */
@media (min-width: 1024px) {
    .answer-num-white {
        width: 25px; /* サイズを適宜調整 */
        height: 25px; /* サイズを適宜調整 */
        font-size: 14px;
    }
}

/*戻るボタンコンテイナー*/
.back-btn-container{
    width: 90px;
}

/*質問横のimg*/
.question-img{
    border-radius: 1.5rem; /* 16px */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.position-absolute{
    position: absolute;
    top:80%;
    left: 0;
    transform: translateY(-80%);
}

#question_answers_container {
    max-height: calc(100% - 100px); /* 質問文の高さやマージンに応じて調整 */
}


/*-------------------------------------[確認画面]-------------------------------------------*/

/*各質問・回答セット*/
.confirm-answers-container{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

/*各質問*/
.confirm-answers-container p{
    color: white;
    font-size: 16px;
}

/*各質問番号*/
.confirm-question-num{
    background-color: white;
    color:rgb(191,158,116);
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

/*各回答（span)*/
.confirm-answer{
    width:300px;
    background-color:white; /* 背景色を適宜指定 */
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    padding: 6px 10px;
    margin-top: 5px;
    border-radius: 20px;
}


/** デスクトップサイズ以上 *!*/
@media (min-width: 1024px) {
    .confirm-answer {
        width: 450px;
    }
}


/*各回答番号(span)*/
.confirm-answer-num {
    display: inline-flex; /* flexコンテナとして表示 */
    justify-content: center; /* 横方向に中央揃え */
    align-items: center; /* 縦方向に中央揃え */
    width: 25px; /* サイズを適宜調整 */
    height: 25px; /* サイズを適宜調整 */
    border-radius: 50%; /* 丸くする */
    margin-right: 10px;
    font-size: 14px;
    background-color: rgb(191,158,116);
    color: white;
}

/*▶アイコン*/
.confirm-answer p{
    color:rgb(191,158,116);
    font-size: 10px;
    margin-right: 5px;
}
/*-------------------------------------[結果画面]-------------------------------------------*/
/*初めからやり直すボタン*/
.back-start-btn {
    background-color:white;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

.big-screen{
    position: relative;
    transform: translateX(-10rem);
}

.small-screen{
    position: absolute;
    top:1%;
    left: -30%;
}









